
.margin-nav-link {
  margin-left: 28%;
}

.nav-link-effect:hover {
  transition: 1s;
  background-color: rgb(11, 116, 39);

}

li a {
  letter-spacing: .2rem;
}

.hero-name {
  animation: animate-a infinite 3s;
  animation-direction: alternate;

}

@keyframes animate-a {
  from {
    color: rgb(11, 116, 39);

  }

  to {
    color: rgb(140, 246, 165);
    filter:brightness(2)
  }
}

.job-text:before {
  content: "Electrical Engineer";
  animation: animate infinite 7s;
  padding-left: 10px;

}

@keyframes animate {

  30% {
    content: "Electrical Engineer";
    letter-spacing: 0.2rem;
  }

  60% {
    content: "Mobile Developer";
    letter-spacing: 0.2rem;

  }

  100% {
    content: "Full Stack Developer";
    letter-spacing: 0.1rem;
  }
}

.contact-image {
  height: 1.8rem;
  width: 1.8rem;
}

/* .exp-ul {
  border-top-right-radius: 3rem;
  border-bottom-left-radius: 3rem;
}

.exp-ul li {
  line-height: 2rem;
} */

/* .card-bg {
  background-color: rgb(220, 220, 220);
} */

.section1 {
  background-image: url(Images/bgimages.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}

.HeroSection {
  background-color: rgba(0, 0, 0, 0.66);
  padding: 10%;
  line-height: 0.1rem;
}

/* .card-hover {
  transition: transform 0.8s;
} */

/* div .card-body p {
  display: none;
  transition-duration: 2s;
  lighting-color: azure;
}

div .card-body:hover>p {
  display: block;
  transition: 5s;
} */

/* .column-scale:hover>div {
  background-color: #fefefe;
} */

/* div .card-body p::before{
transform:scale(1.2);
display: bl;

 } */
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #128338;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #128e2d;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #050d18;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #e4f9eb;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

/* .resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
} */

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #077d20;
}

/* .skills-div {
  overflow-y: scroll;
  height: 30rem;
  width: 17rem;
} */

/* .card-hover-text:hover>p {
  display: block;
} */

.hero-button{
  font-weight: bolder;border: 0.3rem rgb(86, 186, 101) solid;color:rgb(86, 186, 101) ;
}

.card-image{
filter:opacity(10)
}
.card-image:hover{
  filter: blur(0px);
  transition: 1s;
}
.icon {
  height: 4rem;
  width: 4rem;
  margin: 0.5rem;
}

#contact .card:hover i,
#contact .card:hover h4 {
  color: #87d37c;
}

@media only screen and (max-width: 800px) {
  .hide-section {
    display: none;
  }
  .tech-section{
    display: none;
  }
}


.container-card .card
{
    max-width: 300px;
    height: 215px;
    margin: 30px 10px;
    padding: 20px 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}
.container-card .card:hover
{
    height: 450px;
    background-color: #ffffff78;
}
.container-card .card .imgContainer
{
    position: relative;
    width:250px;
    height:250px;
    top:-50px;
    left:10px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
.container-card .card .imgContainer img
{
    max-width: 100%;
    border-radius: 4px;
}
.container-card .card .content
{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color:#111;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-in-out;
}
.container-card .card:hover .content
{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}

@media (max-width: 330px){
    .container-card .card .imgContainer{
        left: -2px;
    }
}


